@font-face{
    font-family: "konkhmer Sleokchher";
    src: url(Font/Konkhmer_Sleokchher.ttf);
}
@font-face {
    font-family: "Castoro";
    src: url(Font/Castoro-Regular.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(Font/Inter-VariableFont_opsz\,wght.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color:#232323;
    color: #DBD6C8;
    font-family: "Inter";
}
nav{
    background: #A31B1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
nav ul{
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav a{
    max-width:200px;
    padding: 10px 20px;
    font-size:1rem;
    text-decoration: none;
    color: #DBD6C8;
    font-family: "konkhmer Sleokchher";
}
nav a:hover{
    color: #232323;
}
.nav-logo img{
    padding: 0 22px;
    max-width:40% ;
}
ul li ul.dropdown li{
    display: block;
    padding: 0.5vw 0 0 0;
}
ul li ul.dropdown li a{
    font-size:0.9rem;
    font-family: "konkhmer Sleokchher";
}
ul li ul.dropdown{
    padding: 20px 0;
    width: auto;
    background: #A31B1E;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown{
    display: block;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
    z-index: 999;
    padding-top: 25%;
    background-color: #A31B1E;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sidebar .nav-logo img{
    max-width: 20vw;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    gap: 1vw;
}
.sidebar ul li a{
    font-size:1.25rem;
}
.sidebar .material-icons{
    font-size:10vw !important;
}
#SD{
    background-image:url(Images/AdobeStock_826654348\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}
#SmartDrive{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#SmartDrive h1{
    font-family: "Konkhmer Sleokchher";
    font-size:6.625rem;
    margin: 0;
}
#SmartDrive p{
    font-family: "Castoro";
    font-size:3.75rem;
    margin: 0;
    text-align: center  ;
}
main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Castoro;
    font-size:3rem;
    margin: 4vw 0;
    text-align: center;
}
#header-txt{
    font-size:1.3rem;
    padding: 2vw 10vw 0;
}
#CTA{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin:0 10vw 5vw ;
    gap: 1vw;
}
#CTA a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A31B1E;
    padding: 10px 40px;
    border: #A31B1E solid 1px;
    border-radius:12px ;
    color: #DBD6C8;
    text-decoration: none;
    font-size:1rem;
    font-family: "Konkhmer Sleokchher";
}
#CTA a:hover{
    color: #A31B1E;
    background-color: #DBD6C8;
    border: #DBD6C8 solid 1px;
}
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2vw;
    margin:0 10vw 10vw ;
}
#card img{
    width: 3vw;
}
#card a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #232323;
    background-color: #DBD6C8;
    border: #DBD6C8 solid 1px;
    border-radius: 1vw;
    text-decoration: none;
    font-size:1.5rem;
    font-family: "Konkhmer Sleokchher";
    gap: 1vw;
    width: 18.5vw;
    height: 10vw;
}
#card p{
    margin: 0;
}#card a:hover{
    background-color: #A31B1E;
    border: #A31B1E 1px solid;
}
#slider-container{
    margin: 0 0 10vw 10vw;
    overflow: hidden;
}
#slider-container #slider{
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    animation: transform 12s infinite ease-in-out;
}
#slider img{
    width: 30vw;
}
@keyframes transform{
    0%,
    20%{
        transform: translateX(0);
    }
    25%,
    45%{
        transform: translateX(-100%);
    }
    50%,
    70%{
        transform: translateX(-200%);
    }
    75%,
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400);
    }
}
.service{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:5vw 10vw 5vw ;
}
.service-txt{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    font-size:1.2rem;
}
#services img{
    max-width: 40%;
}
.service-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin:5vw 10vw 5vw ;
}
#services h2{
    color: #A31B1E;
    font-family: Castoro;
    font-size:2rem;
}
footer{
    background-color: #A31B1E;
}
footer ul{
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
footer a{
    padding: 10px 20px;
    font-size:1rem;
    text-decoration: none;
    color: #DBD6C8;
    font-family: "konkhmer Sleokchher";
}
footer a:hover{
    color: #232323;
}
#headfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3vw 0;
    padding: 2vw 0;
}
#headfooter h1{
    font-size:1.5rem;
    margin: 0;
}
#reseau{
    display: flex;
    justify-content: center;
    align-items: center;
}
#headfooter a{
    min-width: 1.5vw;
}
#headfooter img{
    display: flex;
    justify-content: center;
}
#horizontal-line{
    width: 95%;
    height: 1px;
    background-color: #DBD6C8;
}
#bottomfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3vw 0;
    padding: 2vw 0;
}
#bottomfooter ul{
    padding: 0;
}
#bottomfooter a{
    padding-left: 0;
    color: #DBD6C8;
    text-decoration: none;
    font-size:1rem;
}
.vertical-line{
    height: 40vw;
    width: 1px;
    background-color: #DBD6C8;
}
#coordonnees .vertical-line{
    height: 30vw;
}
.lieu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reservation input{
    background-color: #DBD6C8;
    color: #232323;
    font-family: "Inter";
}
.reservation textarea{
    background-color: #DBD6C8;
    color: #232323;
    font-family: "Inter";
}
.reservation .lieu input{
    width: 40vw; 
}
.reservation{
    display: flex;
    margin-bottom: 5vw;
    justify-content: center;
}
#form-gauche{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 30px 0 ;
}
#form-droite{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 30px 0 ;
}
#aller-retour input{
    width: 1vw;
    margin: 0 2vw 2vw 0;
    height: 1vw;
}
#aller-retour{
    margin-top: 2vw;
}
#date-horaire{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}
#date{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#horaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#adulte-enfant-bebe{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}
.adulte{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#nom-prenom{
    margin-top: 3.5vw;
    display: flex;
    justify-content: space-between;
    gap: 7vw;
}
.nom{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#phone-email{
    display: flex;
    justify-content: space-between;
    gap: 7vw;
}
.phone{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#comment{
    display: flex;
    flex-direction: column;
}
.reservation h2{
    font-size:1.5rem;
    font-family: "Konkhmer Sleokchher";
    margin-bottom: 2vw;
    font-weight: normal;
}
.reservation input{
    padding: 10px 15px;
    border: #DBD6C8 solid 1px;
    border-radius: 5px;
    margin: 1vw 0 2vw;
    font-size:1rem;
}
.reservation textarea{
    height: 10vw;
    border: #DBD6C8 solid 1px;
    border-radius: 5px;
    margin: 1vw 0 2vw;
    font-size:1rem;
    font-family: "Inter";
}
#submit{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#submit button{
    background-color: #A31B1E;
    padding: 10px 40px;
    border: #A31B1E solid 1px;
    border-radius: 10px;
    color: #DBD6C8;
    font-size:1rem;
    font-family: "Konkhmer Sleokchher";
}
#submit button:hover{
    background-color: #DBD6C8;
    color: #A31B1E;
    border: #DBD6C8;
}
#contact {
    background: rgba(211, 211, 211, 0.5);
    background-image: url(Images/AdobeStock_509058265\ 1.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
}
#coordonnees{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 5vw 0;
}
#telephone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 33vw;
}
#mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 33vw;
}
#dispo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 33vw;
}
#coordonnees img{
    width: 3vw;
}
#contactez-nous h1{
    font-family: "Konkhmer Sleokchher";
    font-size:5.625rem;
    margin: 0;
}
#message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4vw;
}
#message input{
    width: 19vw;
    height: 4vw;
    border: #DBD6C8 solid 3px;
    border-radius: 10px;
    font-size:1rem;
    color: #DBD6C8;
    background-color: #232323;
    padding: 1vw;
}
#npte{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
    margin: 5vw;
}
#message textarea{
    width: 90vw;
    height: 20vw;
    border: #DBD6C8 solid 3px;
    border-radius: 10px;
    font-size:1rem;
    background-color: #232323;
    color: #DBD6C8;
    margin-bottom: 2vw;
    padding-left: 1vw;
    font-family: "Inter";
}
::placeholder{
    color: #DBD6C8;
    padding-left: 1vw;
    font-family: "Inter";
}
#message textarea::placeholder{
    padding: 1vw;
}
.type-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    margin: 5vw;
}
.type-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
    margin: 5vw 0;
}
.type-service-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    margin: 0 6vw;
}
.type-service-button a{
    text-decoration: none;
    background-color: #DBD6C8;
    width: 100%;
    font-size:1.25rem;
    font-family: "Konkhmer Sleokchher";
    color: #A31B1E;
    text-align: center;
    border: #DBD6C8 solid 1px;
    border-radius: 10px;
    padding: 1vw 0;
}
.type-service-button a:hover{
    color: #DBD6C8;
    background-color: #A31B1E;
    border: #A31B1E solid 1px;
}
.type-service-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
    margin: 0 6vw;
    font-size:1.25rem;
}
.type-service-text h1{
    font-size:2.75;
}
.type-service-text h3{
    margin-bottom: 0;
}
#mention-legale{
    margin: 0 5vw 5vw;
}
#div-comment{
    width: 100%;
    margin-top: 4%;
}
@media(min-width: 1023px) {
    #hide-pc{
        display: none;
    }    
}
@media(min-width: 768px) and (max-width: 1024px) {
    .hide-mobile{    
        display: none;
    }
    .sidebar{
        width: 100%;
    }
    #SmartDrive h1{
        font-size: 4rem;
    }
    #SmartDrive p{
        font-size: 2rem;
    }
    #header-txt{
        font-size: 1.15rem;
    }
    #CTA a{
        padding: 10px 20px;
        font-size: 0.875rem;
    }
    #card a{
        font-size: 1.25rem;
        width: 100%;
        padding-top: 12px;
    }
   .service{
        flex-direction: column;
        gap: 5vw;
    }
    .service-2{
        flex-direction: column;
        gap: 5vw;
    }
    #services img{
        max-width: 100%;
    }
    .service-txt{
        width: 100%;
    }
    #slider-container{
        margin: 0 0 5vw 0;
    }
    #slider img{
        width: 100%;
    }
    #reseau img{
        width: 4vw;
    }
    .vertical-line{
        height: 50vw;
        width: 1px;
    }
    .reservation{
        flex-direction: column;
        gap: 2vw;
        justify-content: center;
        align-items: center;
    }
    .reservation .vertical-line{
        all: unset;
        height: 1px;
        width: 50%;
        background-color: #DBD6C8;
    }
    #nom-prenom{
        flex-direction: column;
        gap: 2vw;
    }
    #phone-email{
        flex-direction: column;
        gap: 2vw;
    }
    #coordonnees{
        gap: 2vw;
    }
    #coordonnees img{
        width: 2vw;
    }
    #telephone{
        width: 100%;
    }
    #mail{
        width: 100%;
    }
    #dispo{
        width: 100%;
    }
    #contactez-nous h1{
        font-size: 3.5rem;
    }
    #message {
        margin: 2vw;
    }
    #message input{
        width: 100%;
    }
    #npte{
        flex-direction: column;
    }
    .type-service{
        flex-direction: column;
        gap: 2vw;
    }
    .type-service-button{
        margin: 0;
    }
    .type-service-button a{
        width: 100%;
    }
    .type-service-text h1{
        font-size: 2rem;
    }
    .type-service-text h3{
        font-size: 1.25rem;
    }
    .type-service-text p{
        font-size: 1.1rem;
    }
   }
   @media(max-width: 767px) {
    .hide-mobile{    
        display: none;
    }
    .sidebar{
        width: 100%;
    }
    #SmartDrive h1{
        font-size: 2rem;
    }
    #SmartDrive p{
        font-size: 1rem;
    }
    #header-txt{
        font-size: 0.8rem;
    }
    #CTA a{
        padding: 10px 20px;
        font-size: 0.875rem;
    }
    #card a{
        font-size: 1.25rem;
        width: 100%;
        padding-top: 12px;
        gap: 0;
    }
    #card img{
        width: 5%;
    }
   .service{
        flex-direction: column;
        gap: 5vw;
    }
    .service-2{
        flex-direction: column;
        gap: 5vw;
    }
    #services img{
        max-width: 100%;
    }
    .service-txt{
        width: 100%;
    }
    #slider img{
        width: 48%;
    }
    #headfooter{
        flex-direction: column;
        gap: 2vw;
    }
    #reseau img{
        width: 8vw;
    }
    footer ul{
        flex-direction: column;
    }
    .vertical-line{
        height: 50vw;
        width: 1px;
    }
    .reservation{
        flex-direction: column;
        gap: 2vw;
        justify-content: center;
        align-items: center;
    }
    #aller-retour input{
        height: auto;
        width: auto;
        margin: 0 20px 20px 0;
    }
    #date-horaire{
        flex-direction: column;
        gap: 2vw;
    }
    #nom-prenom{
        flex-direction: column;
        gap: 2vw;
    }
    #phone-email{
        flex-direction: column;
        gap: 2vw;
    }
    #coordonnees{
        flex-direction: column;
        gap: 2vw;
    }
    #coordonnees img{
        width: 8vw;
    }
    #telephone{
        width: 100%;
    }
    #mail{
        width: 100%;
    }
    #dispo{
        width: 100%;
    }
    #contactez-nous h1{
        font-size: 2rem;
    }
    #message input{
        width: 100%;
    }
    #message textarea{
        width: 100%;
    }
    #npte{
        flex-direction: column;
        gap: 2vw;
    }
    #npte input{
        height: 30px;
    }
    .type-service{
        flex-direction: column;
        gap: 2vw;
    }
    .type-service-button{
        margin: 0;
    }
    .type-service-button a{
        width: 90%;
    }
    .type-service img{
        width: 90%;
    }
    .type-service-text h1{
        font-size: 2rem;
    }
    .type-service-text h3{
        font-size: 1.25rem;
    }
    .type-service-text p{
        font-size: 1.1rem;
    }
    .vertical-line{
        all: unset;
        height: 1px;
        width: 50%;
        background-color: #DBD6C8;
    }
    main h1{
        font-size: 2.5rem;
    }
   }